<%- include('../inc/header') %>
    <form action="/task/add-new" method="post">
        <div class="task-input">
            <img src="/images/bars-icon.svg" alt="icon">
            <input type="text" name="name" placeholder="Add a task name">
        </div>

        <div class="task-input">
            <img src="/images/bars-icon.svg" alt="icon">
            <input type="datetime-local" name="date" placeholder="Date">
        </div>

        <div class="task-input has-textarea">
            <img src="/images/bars-icon.svg" alt="icon">
            <textarea name="description" cols="30" rows="10"></textarea>
        </div>

        <%- include('../inc/error') %>

            <div class="task-input">
                <button class="clear-btn" type="submit">Add task</button>
            </div>
    </form>
    <%- include('../inc/footer') %>